<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img src="{{ Product_object.Image }}">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        {{Product_object.Title}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{Product_object.Price}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{Product_object.Category}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{Product_object.Description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>